* {
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: black 1px solid;
    border-radius: 5px;
}
.header {
    width: 400px;
    height: 681.6px;
    background-color: rgb(48, 48, 48);
    border-right: black solid 1px;
    color: white;
    float: left;
    padding-bottom: 30px;
} 
.profile {
    padding-top: 20px;
    list-style: none;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}
img {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: auto;
    border-radius: 100px;
}
.profile li {
    margin-bottom: 10px;
}
#name p {
    margin-left: 145px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
} 
#name {
    background-color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
}
#name div {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color:white;
    font-size: 18px;
}
.Tses {
    margin-left: 30px;
    margin-right: 30px;
}
.Tses h3 {
    font-size: 23px;
    margin-block-start: 60px;
    background-color: gray;
}
.main {
    padding-top: 30px;
    background-color:white;
    padding-left: 430px;
    padding-right: 50px;
  /* padding-bottom: 30px; */
}
.main p {
    margin-top: 10px;
    margin-bottom: 20px;
}
.main h2 {
background-color: rgb(235, 233, 233);
}
.border {
    border-bottom:black solid ;
    margin-bottom: 10px;
}